* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    margin: 0;
}

/* cabeçalho */
div#topo {
    display: flex;
    background: linear-gradient(#003366, #006699);
    color: white;
    height: 75px;
    align-items: center;
}

div#topo p {
    font-size: 1.4em;
}

/* navegação */

ul {
    padding: 0;
}

ul li a {
    padding: 10px;
}

ul,
ul li a {
    display: flex;
    list-style-type: none;
    background-color: #383838;
    color: white;
    margin: 0;
    gap: 20px;
    text-decoration: none;
    justify-content: center;
}

ul li a:hover {
    background-color: #c0c0c0;
    color: #383838;
}

/* Tabela */
table tr td,
table th,
table tfoot tr {
    /*table **/
    padding: 5px;
}

thead th,
tfoot tr td {
    background-color: #003366;
    color: white;
}

table tr:nth-child(odd) {
    background-color: #44758d;
}

table tr:nth-child(even) {
    background-color: #a8a6a6;
}

table tr:hover {
    background-color: #f0eeee;
}

/* Formulário */

form.profissional {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: fit-content;
    gap: 5px;
    padding: 10px;
    line-height: 2em;
}

/* botoes */

input[type="submit"],
.botao_verde {
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.2em;
    text-decoration: none;
    cursor: pointer;
}

input[type="reset"],
.botao_vermelho {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.2em;
    text-decoration: none;
    cursor: pointer;
}

/* Rodapé */

footer {
    background: linear-gradient(#003366, #006699);
    color: white;
    padding: 5px;
}

/* Responsividade */

@media screen and (max-width: 910px) {

    ul,
    ul li a {
        display: block;
    }

    form.profissional {
        grid-template-columns: 1fr;
    }
}